<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Materials Table</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Materiały i Cena</h1>
        <table>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.material }}</td>
                    <td>{{ item.cena }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
